<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Card</title>
</head>
<body>
    <div style="display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh; /* Altura da tela inteira */ 
                text-align: center; 
                margin-top: 30px;">
        <h1>  </h1>
        <div style="display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center; 
                    margin-top: 10px;
                    border: 1px solid black;
                    padding: 10px;
                    width: 280px;
                    height: 540px;
                    background-image: url(/static/img/back\ 1.png);
                    border-radius: 15px;">
            <div style="display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-align: center; 
                        width: 95%;
                        border-radius: 15px;">
                <div style="border: 1px solid white;
                            width: 120px;
                            height: 160px;
                            border-radius: 15px;
                            background-image: url(/static/img/paiva.jpg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;"
                >
                </div>
                <div style="width: 120px;
                            height: 160px;
                            margin-left: 15px;
                            border-radius: 15px;">
                    <img style="width: 110px;
                                height: 110px;
                                margin-top: 15px;"
                        src="/static/img/sdfrfr.png" alt=""
                    >
                </div>
            </div>
            <div style="color: white; text-align: left; margin-top: 20px;">
                <p>NOME</p>
                <p>Cleber Otavio Freitas Paiva</p>
                <p></p>
                <p>FAIXA</p>
                <p>Marrom</p>
                <p></p>

            </div>
            <div style="color: white; text-align: center; margin-top: 50px;">
                <p>Academia Superior de Jiu-jitsu</p>
                <P>Policia Penal de SC</P>
            </div>
        </div>
    </div>
</body>
</html>