<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <div style="display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh; /* Altura da tela inteira */ 
                text-align: center; 
                margin-top: 30px;">
        <h1> Links </h1>
        <div style="display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center; 
                    margin-top: 30px;
                    border: 1px solid black;
                    padding: 10px;">
            <img style="width: 300px;" src="/static/img/CBJJ.png" alt="">
            <a style="margin-top: 15px;" href="https://cbjj.com.br/">CBJJ</a>
        </div>
    </div>
</body>
</html>